<div class="row">
  <div class="span3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><%= link_to "アカウント", settings_account_path %></li>
    </ul>
  </div>
  <div class="span9">
    <h2>アカウント</h2>

    <%= form_for(@user, url: settings_account_path, html: { class: "form-horizontal", method: :put }) do |f| %>

      <% if @user.errors.any? %>
        <div class="alert alert-block alert-error">
          <a class="close">×</a>
          <h4 class="alert-heading"><strong><%= pluralize(@user.errors.count, "error") %></strong> prohibited this item from being saved:</h4>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="control-group">
          <%= f.label :username, "ユーザー名", class: "control-label" %>
          <div class="controls">
            <p><%= @user.username %></p>
          </div>
        </div>

        <div class="control-group<%= @user.errors[:password].empty? ? '' : ' error' %>">
          <%= f.label :password, "パスワード", class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
            <p>パスワードを変更する場合のみ入力してください。</p>
          </div>
        </div>

        <div class="control-group<%= @user.errors[:password_confirmation].empty? ? '' : ' error' %>">
          <%= f.label :password_confirmation, "パスワード(確認)", class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
            <p>パスワードを変更する場合のみ入力してください。</p>
          </div>
        </div>

        <div class="control-group<%= @user.errors[:current_password].empty? ? '' : ' error' %>">
          <%= f.label :current_password, "現在のパスワード", class: "control-label" %>
          <div class="controls">
            <%= f.password_field :current_password %>
            <p>設定を変更するには現在のパスワードを入力してください。</p>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "変更を保存", class: "btn btn-primary" %>
        </div>
      <fieldset>

    <% end %>

    <p><%= link_to "アカウントを削除する", registration_path(@user), :confirm => "本当に削除しますか？", :method => :delete %></p>
  </div>
</div>
