.row
  .span12
    = form_for(@shop, html: {class: "form-horizontal"}) do |f|
      = render partial: 'shared/validation_message', locals: { resource: @shop }
      %fieldset
        %legend お店について
        - if defined?(is_new) and is_new
          .control-group
            = f.label :name, "お店の名前", class: 'control-label'
            .controls
              = f.text_field :name
        .control-group
          = f.label :url, "URL", class: 'control-label'
          .controls
            = f.text_field :url
        .control-group
          = f.label :address, "住所", class: 'control-label'
          .controls
            = f.text_field :address
      .form-actions
        = f.submit "登録", 'data-disable-with' => "登録中...", class: "btn btn-primary"
