- title "#{@shop.name}"
#data-info{ 'data-shop-id' => @shop.id }
.row
  .span3
    %h2= @shop.name
    - if @shop.url.present?
      %i.icon-share
      = link_to @shop.url, @shop.url, target: '_blank'
    - if @shop.address.present?
      %br/
      %i.icon-home
      = @shop.address

    %br/
    %i.icon-tags
    %br/
    #shop-tags
      %ul#tag-list
        - @shop.tags.each do |tag|
          %li= tag.name
    - if user_signed_in?
      %br/
      %input#tags{ name: 'tags', value: @shop.tags.join(',') }

    %br/
    - if user_signed_in?
      %i.icon-edit
      = link_to 'このお店を編集する', edit_shop_path(@shop)

  .span9
    - if @shop.items
      %ul{ class: "thumbnails" }
        - @shop.items.new_uploads.each do |item|
          %li{ class: "span3" }
            .thumbnail
              = link_to (image_tag item.image.thumb.to_s), item
              .caption
                %h5= link_to item.title, item
                %i.icon-user
                = link_to item.user.login_name, item.user
                %br/
                %i.icon-calendar
                = item.ate_at.strftime("%Y/%m/%d")
                %br/
                %i.icon-heart
                = link_to item.likes.count, "#{item_path(item)}#likes"
                %i.icon-comment
                = link_to item.item_comments.count, "#{item_path(item)}#comments"
