.row
  .span3
    %h2= @shop.name
    %i.icon-user
    = @shop.create_user.login_name
    %br/
    %i.icon-calendar
    = @shop.created_at.strftime("%Y/%m/%d")

  .span9
    - if @shop.items
      %ul{ class: "thumbnails" }
        - @shop.items.new_uploads.each do |item|
          %li{ class: "span3" }
            .thumbnail
              = link_to (image_tag item.image_url.to_s), item
              .caption
                %h5= link_to item.title, item
                %i.icon-user
                = link_to item.user.login_name, item.user
                %br/
                %i.icon-calendar
                = item.ate_at.strftime("%Y/%m/%d")
                %br/
                %i.icon-heart
                = item.likes.count
                %i.icon-comment
                = link_to item.item_comments.count, item
