.row
  .span3
    %h2= @user.login_name
    %i.icon-calendar
    = @user.created_at.strftime("%Y/%m/%d")

  .span9
    - if @user.items
      %ul{ class: "thumbnails" }
        - @user.items.new_uploads.each do |item|
          %li{ class: "span3" }
            .thumbnail
              = link_to (image_tag item.image_url.to_s), item
              .caption
                %h5= link_to item.title, item
                %i.icon-home
                = link_to item.shop.name, item.shop
                %br/
                %i.icon-calendar
                = item.ate_at.strftime("%Y/%m/%d")
                %br/
                %i.icon-comment
                = link_to item.item_comments.count, item
