<% @items.each do |item| %>
<div class="row">
  <div class="offset3 span6">
    <div class="thumbnail">
      <%= link_to (image_tag item.image_url.to_s), item %>
    </div>
  </div>
  <div class="span3">
    <h2><%= link_to item.title, item_path(item) %></h2>
    <i class="icon-home"></i><strong><%= link_to item.shop.name, shop_path(item.shop) %></strong><br />
    <i class="icon-user"></i><%= link_to item.user.login_name, user_path(item.user) %><br />
    <i class="icon-shopping-cart"></i><%= item.price %>円<br />
    <i class="icon-calendar"></i><%= item.ate_at.strftime("%Y/%m/%d") %><br />
    <i class="icon-upload"></i><%= item.created_at.strftime("%Y/%m/%d %H:%M") %><br />
    <i class="icon-comment"></i><%= link_to item.item_comments.count, item_path(item) %><br />

    <% if item.user == current_user %>
      <hr />
      <i class="icon-edit"></i><%= link_to '編集する', edit_item_path(item) %><br />
      <i class="icon-remove"></i><%= link_to '削除する', item_path(item), method: :delete, confirm: "削除しますか？" %>
    <% end %>
  </div>
</div>
<br />
<% end %>
