<% @images.each do |image| %>
<div class="row">
  <div class="span3">
    <h1><%= image.ate_at %></h1>
  </div>
  <div class="span6">
    <h2><%= image.shop.name %></h1>
    <%= image_tag image.image_url.to_s %><br />
    <%= image.user.name %> - <%= image.comment %>
  </div>
  <div class="span3">
    <%= link_to 'Show', image %><br />
    <%= link_to 'Edit', edit_image_path(image) %>
  </div>
</div>
<% end %>
