<% @images.each do |image| %>
<div class="row">
  <div class="span3">
    <h1><%= image.ate_at %></h1>
  </div>
  <div class="span6">
    <h2><%= image.shop.name %></h1>
    <%= image_tag image.image_url.to_s %><br />
  </div>
  <div class="span3">
    <dl>
      <dt>参加した活動</dt>
      <dd>&nbsp;</dd>
    </dl>
    <%= link_to 'Show', image %><br />
    <%= link_to 'Edit', edit_image_path(image) %>
  </div>
</div>
<% end %>
