<% @items.each do |item| %>
<div class="row">
  <div class="span3">
    <h1><%= item.ate_at %></h1>
  </div>
  <div class="span6">
    <h2><%= item.title %>(<%= item.shop.name %>)</h1>
    <%= image_tag item.image_url.to_s %><br />
    <%= item.user.username %> - <%= item.comment %>
  </div>
  <div class="span3">
    <%= link_to 'Show', item %><br />
    <% if user_signed_in? and item.user_id == current_user.id %>
      <%= link_to 'Edit', edit_item_path(item) %><br />
      <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
</div>
<% end %>
