.row
  .span3
    %ul.nav.nav-pills.nav-stacked
      %li= link_to "アカウント", settings_account_path
      %li= link_to "メールアドレス", settings_mail_path
      %li.active= link_to "アイコン", settings_icon_path
  .span9
    %h2 アイコン
    %div
      %p 現在設定されているアイコン:
      - if @user.image.present?
        = link_to (image_tag @user.image.thumb.to_s), @user.image.to_s
      - else
        設定されていません。

    = form_for(@user, url: settings_icon_path, html: { class: "form-horizontal", method: :put }) do |f|
      = render partial: 'shared/validation_message', locals: { resource: @user }
      %fieldset
        %div{class: "control-group#{@user.errors[:mail].empty? ? '' : ' error'}"}
          = f.label :image, "アイコン", class: "control-label"
          .controls
            = f.file_field :image
        .form-actions
          = f.submit "変更を保存", class: "btn btn-primary"
