.row
  .span3
    %ul.nav.nav-pills.nav-stacked
      %li= link_to "アカウント", settings_account_path
      %li.active= link_to "メールアドレス", settings_mail_path
      %li= link_to "アイコン", settings_icon_path
  .span9
    %h2 メールアドレス
    = form_for(@user, url: settings_mail_path, html: { class: "form-horizontal", method: :put }) do |f|
      = render partial: 'shared/validation_message', locals: { resource: @user }
      %fieldset
        %div{class: "control-group#{@user.errors[:mail].empty? ? '' : ' error'}"}
          = f.label :mail, "メールアドレス", class: "control-label"
          .controls
            = f.text_field :mail
        .form-actions
          = f.submit "変更を保存", class: "btn btn-primary"
