<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Comment</th>
    <th>Image</th>
    <th>Ate at</th>
    <th>Shop</th>
    <th>Price</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.comment %></td>
    <td><%= item.image %></td>
    <td><%= item.ate_at %></td>
    <td><%= item.shop.name %></td>
    <td><%= item.price %></td>
    <td><%= item.user.username %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
