<div class="row">
  <div class="span7">
    <div class="thumbnail">
      <%= image_tag @item.image_url.to_s %>
    </div>
  </div>
  <div class="span5">
    <% if @item.user == current_user %>
      <i class="icon-edit"></i><%= link_to '編集する', edit_item_path(@item) %>
      <i class="icon-remove"></i><%= link_to '削除する', item_path(@item), method: :delete, confirm: "削除しますか？" %>
    <% end %>
    <h2><%= @item.title %></h2>
    <i class="icon-home"></i><strong><%= link_to @item.shop.name, shop_path(@item.shop) %></strong><br />
    <i class="icon-shopping-cart"></i><%= @item.price %>円<br />
    <i class="icon-user"></i><%= link_to @item.user.login_name, user_path(@item.user) %><br />
    <i class="icon-calendar"></i><%= @item.ate_at.strftime("%Y/%m/%d") %><br />

    <% if @item.comment %>
      <i class="icon-eye-open"></i>
      <%= simple_format @item.comment %>
    <% end %>

    <hr />

    <% if @item.item_comments.present? %>
      <i class="icon-comment"></i>コメント<br />
      <% @item.item_comments.each do |comment| %>
        <strong><i class="icon-user"></i><%= link_to comment.user.login_name, user_path(comment.user) %></strong>&nbsp;<span class="comment-date"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></span><br />
        <%= simple_format comment.comment %>
        <% if comment.user == current_user %>
          <i class="icon-remove"></i><%= link_to '削除する', item_item_comment_path(@item, comment), method: :delete, confirm: "削除しますか？" %>
        <% end %>
        <hr />
      <% end %>
    <% end %>

    <%= form_for ItemComment.new, url: item_item_comments_path(@item) do |f| %>

      <%= f.text_area :comment, {rows: 5, style: "width: 90%;"} %>
      <%= f.submit "コメントする", disable_with: "登録中...", class: "btn btn-primary btn-small" %>
    <% end %>

  </div>
</div>
