<h1>Listing activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th>Ate at</th>
    <th>Shop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= activity.comment %></td>
    <td><%= activity.ate_at %></td>
    <td><%= activity.shop.name %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
