<!DOCTYPE html>
<html>
<head>
  <title>Currybu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "ホーム", root_path %>
  <% if user_signed_in? %>
    <%= current_user.name %>さん /
    <%= link_to "ログアウト", destroy_user_session_path, :method => 'delete' %>
    <%= link_to "ユーザ情報の編集", edit_user_registration_path %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "登録", new_user_registration_path %>
  <% end %>

<%= yield %>

</body>
</html>
